{:server         "imap-server-name"
 :address        "admin@domain.org"
 :username       "my-account-username"
 :password       "my-secret-password"
 :protocol       "imaps"
 :trusted-sender "my@address.com" "second@address.com"}
